.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-header {
  background-color:#24292e;
}

.App-body {
  height: calc(100vh - 178px);
  padding-bottom: 30px;
}

.App-container {
  max-width: 1300px;
  margin: 0 auto;  
  padding: 0 30px;
}
