
.wrap-navigation {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}
